* {
	outline: 1px solid red;
}

html, body {
	height: 100%;
}

body {
	background: black;
}

.main {
	background: yellow;
	width: 300px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

h2 {
	position: relative;
	top: 15px;
	text-align: center;

}

input {
	margin: 15px 0 10px 45px;
	width: 210px;
}